.hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 1.5rem;

  background: linear-gradient(
    180deg,
    var(--bg-soft),
    rgba(255, 255, 255, 1),
    rgba(183, 156, 237, 0.08) /* soft wisteria glow */
  );
}

.hero-content {
  max-width: 850px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  letter-spacing: -0.5px;
  color: var(--text-heading);
}

.hero-subtext {
  font-size: 1.2rem;
  color: var(--text-muted);
  margin-bottom: 2rem;
}

.hero-subtext span {
  color: var(--accent-deep);
  font-weight: 600;
}

.cta-button {
  padding: 12px 24px;
  /* background: var(--accent-deep); */
  background-color: #7161EF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: var(--shadow);
}

.cta-button:hover {
  background: var(--accent-strong);
  transform: translateY(-2px);
}

.secondary-link {
  padding: 12px 24px;
  border: 1px solid var(--accent-light);
  border-radius: 10px;
  text-decoration: none;
  color: var(--text);
  background: white;
  transition: 0.25s ease;
}

.secondary-link:hover {
  border-color: var(--accent);
  color: var(--accent-deep);
  transform: translateY(-2px);
}