:root {
  --soft-blush: #F7CFD9;
  --petal-rouge: #D47A8A;

  --bg:#fffaf8; 
  --card-bg: var(--soft-blush);

  /* --accent: var(--petal-rouge);
  --hover: var(--soft-blush); */
  --card: #FFFFFF;
  --text: #1a1a1a;
  --muted: #666;
  --text-heading: #111;
  --accent: var(--petal-rouge);
  --accent-soft: rgba(251, 111, 146, 0.12);
  --shadow: 0 10px 25px rgba(0,0,0,0.08);

  /* TYPOGRAPHY */
  --font-body: 'Montserrat', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  /* SHADOW */
  --shadow: 0 10px 25px rgba(0,0,0,0.08);

  /* BASE */
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================
   GLOBAL
========================= */


html {
  width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
}

#root {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

/* =========================
   HEADINGS
========================= */

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--text-heading);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

/* =========================
   CODE
========================= */
code {
  display: inline-flex;
  border-radius: 4px;
  font-family: monospace;
  color: white;
}

code {
  display: inline-flex;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: monospace;
  font-size: 15px;
  /* line-height: 135%; */
  background: rgba(0, 0, 0, 0.08);
}

button {
  font: inherit;
  cursor: pointer;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0;
  }

  h2 {
    font-size: 20px;
  }
}